*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #85d5f0;
}
.name{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}
.box h1,p{
    display: flex;
    justify-content: right;
  
}



.about {
    border: 2px soid rgb(16, 16, 16);
    display: flex;
    justify-content: center;

}
.box{
    border: 3px solid rgb(21, 21, 21);
    padding: 30px;
    margin: 100px;
    height: 800px;
    width: 1000px;
    border-radius: 35px;
    box-shadow: 7px 7px 50px 20px  rgba(91, 85, 91, 0.939);
    background-color: #e0ecf0;


}
.about img{
    height: 570px;
    width: 400px;
    border-radius: 50px;
} 
.logo{
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/530282993/photo/jet-pilot-flight-with-squadron.jpg?s=612x612&w=0&k=20&c=rhaZLWTtqd2kltLQjRSx1PeNXrnwOnfJlekZi-NuNck=');
    background-size: 100% 100%;
    color: black;  
    font-size: 23px;
    /* border-radius: 150px; */
}

.logo nav{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.l{
    height: 70px;
    border-radius: 10px;
    /* border: 3px solid black; */
}

.text h1{
    font-size: 80px;
    color: white;
    text-shadow: 2.8px 2.8px 2.8px orangered;
}
h3{
    text-shadow: 1px 1px 2px orangered;
}
.text h1,h3{
    display: flex;
    justify-content: end;
}

.logo nav ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.logo nav ul li{
    list-style-type: none;
    text-shadow: 1px 1px 1px green;
    display: flex;
       
}
/* .section-3{
    border: 2px solid grey;
} */
.section-3 h1{
    display: flex;
    justify-content: center;
    font-size: 60px;
} 

.container{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    display: flex;
    justify-content: center;
}

.card{
    border: 2px solid white;
    padding: 10px;
    margin: 30px;
    height: 500px;
    width: 300px;
    border-radius: 30px;
}
#card-1{
    background-image: url('https://media.istockphoto.com/id/600389628/photo/the-fighter-planes.jpg?s=612x612&w=0&k=20&c=GtL4U6avCI7LvMxnAq_BRE7o2UfYdVGFqJVPgG9umjk=');
    background-size: 100% 100%;
}
#card-2{
    background-image: url('https://media.istockphoto.com/id/475493798/photo/cargo-airplane-landing-at-sunset.jpg?s=612x612&w=0&k=20&c=Fnfnr-Dv2e3sCFUhU2QM32sc2VqcPvp5W91n8fN0kWI=');
    background-size: 100% 100%;
}
#card-3{
    background-image: url('https://media.istockphoto.com/id/1351329787/photo/f-14-vertical-climb.jpg?s=612x612&w=0&k=20&c=5H3gU0_zekg1MdMMyJe-EAyxqSPsopPTw5YpanChrbA=');
    background-size: 100% 100%;
}

